.authForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.authContainer {
    width: 500px;
}

.navigationButtons {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}